/*
font-family: 'Poppins', sans-serif;
font-family: 'Manrope', sans-serif;
*/

/*
<i class="fa-solid fa-ellipsis"></i>
<i class="fa-solid fa-house"></i>
<i class="fa-sharp fa-solid fa-book-open"></i>
<i class="fa-sharp fa-solid fa-envelope"></i>
<i class="fa-regular fa-copyright"></i>
*/


:root {
    font-size: 18px;

    /*couleur*/
    --clr-white: white;

    /*glassmorphism*/
    --glass-Back-Ground: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    --glass-Carte-Back-Ground: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(172, 172, 172, 0.1));
    --glass-Form-Back-Ground: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(150, 150, 150, 0.1));
    --glass-Input-Back-Ground-2: rgba(255, 255, 255, 0.5);
    --glass-Back-Drop-Filter: blur(5px);
    --glass-Drop-Shadow: drop-shadow(0 0 5px rgba(131, 131, 131, 0.4));
    --glass-Image-Drop-Shadow: drop-shadow(0 3px 10px rgba(95, 95, 95, 0.877));
    --glass-Composant-Drop-Shadow: drop-shadow(0 5px 8px rgba(95, 95, 95, 0.877));
    --glass-Input-Drop-Shadow-2: drop-shadow(0 0 8px rgba(128, 128, 128, 0.452));
    --glass-Text-Shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    --glass-Btn-Back-Ground-1: rgba(255, 255, 255, 0.3);
    --glass-Btn-Back-Ground-2: rgba(255, 255, 255, 0.2);
    --glass-Btn-Drop-Shadow-1: drop-shadow(0px 2px 10px rgba(65, 65, 65, 0.144));
    --glass-Btn-Drop-Shadow-2: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.603));
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    color: var(--clr-white);
    background: linear-gradient(45deg, #fc466b, #3f5efb);
}

body {
    height: 100vh;
}

/*TEXTE*/
h1 {
    font-family: 'Manrope', sans-serif;
    font-size: calc(2.5rem + 0.1 * 15vw);
    text-shadow: var(--glass-Text-Shadow);
    padding-left: 2.4rem;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-size: calc(2.5rem + 0.1 * 28vw);
    text-shadow: var(--glass-Text-Shadow);
    padding-right: 0.01rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-size: calc(1.8rem + 0.1 * 5vw);
    font-weight: 700;
    text-shadow: var(--glass-Text-Shadow);
    margin-bottom: 2rem;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: var(--glass-Text-Shadow);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-shadow: var(--glass-Text-Shadow);
}

ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    cursor: pointer;
    text-transform: uppercase;
}



/*HEADER*/
header {
    width: calc(100% - (3rem + 1vw));
    height: 56px;
    display: flex;
    flex-direction: row;
}

/*bouton navigation*/
#btn-menu {
    width: calc(3rem + 1vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#btn-burger {
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: relative;
}

.burger-line {
    background-color: var(--clr-white);
    border-radius: 1rem;
    height: 3px;
    width: 36px;
    position: absolute;
}

.burger-line:nth-child(1) {
    top: calc(9px - 1.5px);
}

.burger-line:nth-child(2) {
    top: calc(18px - 1.5px);
}

.burger-line:nth-child(3) {
    top: calc(27px - 1.5px);
}

/*animation burger*/
#btn-burger.animation {
    background: var(--glass-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    border: none;
    border-left: var(--glass-Border);
    border-top: var(--glass-Border);
    ;
    transition: 0.3s;
}

.burger-line:nth-child(1),
.burger-line:nth-child(3) {
    transition:
        transform 0.4s ease-in-out,
        top 0.4s 0.4s ease-in-out;
}

.burger-line:nth-child(2) {
    transition: 0.3s 0.5s;
}

#btn-burger.animation .burger-line:nth-child(1) {
    top: 16px;
    transform: rotate(45deg);
    transition:
        transform 0.4s 0.4s ease-in-out,
        top 0.4s ease-in-out;
}

#btn-burger.animation .burger-line:nth-child(2) {
    opacity: 0;
    transition: 0.2s;
}

#btn-burger.animation .burger-line:nth-child(3) {
    top: 15.5px;
    transform: rotate(-45deg);
    transition:
        transform 0.4s 0.4s ease-in-out,
        top 0.4s ease-in-out;
}

/*logo*/
#logo {
    width: 100%;
    padding: 0 3rem 0 0;
    display: flex;
    justify-content: center;
}

#logo-img {
    background-image: url(images/Avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56px;
    height: 56px;
}

#logo-name {
    color: var(--clr-white);
    font-size: calc(35px);
    text-transform: uppercase;
    line-height: 56px;
    margin-left: 0.5rem;
}


/*NAVIGATION*/
nav {
    background: var(--glass-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    border: none;
    width: calc(3rem + 1vw);
    height: 100vh;
    padding: 1rem 0 0 0;
    position: fixed;
    z-index: 2;
    transition: 0.3s;
}

nav ul {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    font-size: calc(1rem + 0.1vw);
    color: var(--c1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

nav ul li:hover {
    background: var(--glass-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    border: none;
    border-left: var(--glass-Border);
    border-top: var(--glass-Border);
    border-radius: 3px;
    padding: 0.3rem;
    transform: scale(1.2);
}

.icone-active {
    background: var(--glass-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    border: none;
    border-left: var(--glass-Border);
    border-top: var(--glass-Border);
    border-radius: 3px;
    padding: 0.3rem;
    transform: scale(1.1);
}

.nav-icones-hide {
    transform: translateX(-100%);
}


/*MESSAGES*/
.message {
    width: 100%;
    position: absolute;
    top: 5vh;
}

.error,
.success {
    width: min(90%, 500px);
    margin: 0.3rem auto;
    padding: 0.7rem;
    border-radius: 1.5rem;
    text-align: center;
    opacity: 0;
    animation: animationMessage 10s linear;
}

.error {
    background-color: rgba(177, 125, 125, 0.3);
    border: solid 1px rgba(255, 0, 0, 0.5);
    color: red;
}

.success {
    background-color: rgba(70, 122, 70, 0.3);
    border: solid 1px rgba(0, 128, 0, 0.5);
    color: green;
}

@keyframes animationMessage {
    0% {
        transform: translateY(-3rem);
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
    }
}


/*SECTIONS*/
section {
    width: min(90%, 1024px);
    height: calc(100% - 56px);
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-titre,
.tab-contact,
.tab-projet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trans-tableau-visible {
    display: run-in;
}

.trans-tableau-hide {
    display: none;
}


/*HOME*/
.tab-titre {
    perspective: 1000px;
}

.titre {
    position: absolute;
    width: 100%;
}

.cube {
    --width-cube: calc(150px + 0.2 * 50vw);
    width: var(--width-cube);
    height: var(--width-cube);
    position: relative;
    transform-style: preserve-3d;
    animation: animationCube linear infinite 60s;
}

.cube2 {
    width: calc(var(--width-cube) / 2);
    height: calc(var(--width-cube) / 2);
    transform-style: preserve-3d;
    animation: animationCube2 linear infinite 10s;
    background: rgba(0, 0, 0, 0);
}

.face {
    border: solid 0.01px rgba(255, 255, 255, 0.623);
    border-collapse: collapse;
    width: var(--width-cube);
    height: var(--width-cube);
    position: absolute;
}

.face2 {
    background: var(--glass-Form-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    width: calc(var(--width-cube) / 2);
    height: calc(var(--width-cube) / 2);
    position: absolute;
}

.front {
    transform: translateZ(calc(var(--width-cube) / 2));
}

.back {
    transform: translateZ(calc(0px - calc(var(--width-cube) / 2)));
}

.left {
    transform: rotateY(90deg) translateZ(calc(0px - calc(var(--width-cube) / 2)));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--width-cube) / 2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--width-cube) / 2));
}

.bottom {
    transform: rotateX(90deg) translateZ(calc(0px - calc(var(--width-cube) / 2)));
}


.front2 {
    transform: rotateY(90deg) translateZ(calc(var(--width-cube) / 4));
}

.back2 {
    transform: translateZ(calc((0px - var(--width-cube) / 4)));
}

.left2 {
    transform: rotateY(90deg) translateZ(calc((0px - var(--width-cube) / 4)));
}

.right2 {
    transform: rotateY(90deg) translateZ(calc(var(--width-cube) / 4));
}

.top2 {
    transform: rotateX(90deg) translateZ(calc(var(--width-cube) / 4));
}

.bottom2 {
    transform: rotateX(90deg) translateZ(calc((0px - var(--width-cube) / 4)));
}

@keyframes animationCube {
    0% {
        transform-origin: center;
        transform: rotateX(0) rotateY(0);
    }

    100% {
        transform-origin: center;
        transform: rotateX(360deg) rotateY(-360deg);
    }
}

@keyframes animationCube2 {
    0% {
        transform-origin: center;
        transform: translateX(50%) translateY(50%) rotateX(0) rotateY(0);
    }

    100% {
        transform-origin: center;
        transform: translateX(50%) translateY(50%) rotateX(-360deg) rotateY(-360deg);
    }
}


/*PROJET*/
.carte-conteneur {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carte {
    background: var(--glass-Carte-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    border: none;
    border-top: var(--glass-Border);
    border-left: var(--glass-Border);
    border-radius: 10px;
    height: 517px;
    padding: 0 1rem 0 1rem;
    flex: 0 1 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.img {
    filter: var(--glass-Image-Drop-Shadow);
    border-radius: 50%;
    width: 230px;
    margin-top: 2rem;
    aspect-ratio: 1;
    object-fit: cover;
}

.langage {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.langage img {
    filter: var(--glass-Composant-Drop-Shadow);
    width: 35px;
    display: block;
}

.carte h3 {
    filter: var(--glass-Text-Shadow);
    margin: 2rem 0 0.5rem 0;
    text-align: center;
}

.carte a {
    background: var(--glass-Btn-Back-Ground-1);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    border: none;
    border-top: var(--glass-Border);
    border-left: var(--glass-Border);
    border-radius: 1.4rem;
    filter: var(--glass-Btn-Drop-Shadow-1);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 2rem auto 1.2rem auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    cursor: pointer;
    transition: 0.25s;
}

.carte a:hover {
    background-color: var(--glass-Btn-Back-Ground-2);
    filter: var(--glass-Btn-Drop-Shadow-2);
    transform: scale(1.05);
    transition: 0.1s;
}




/*FORMULAIRE*/
form {
    background: var(--glass-Form-Back-Ground);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    filter: var(--glass-Drop-Shadow);
    border: none;
    border-left: var(--glass-Border);
    border-top: var(--glass-Border);
    border-radius: 0.8rem;
    width: 100%;
    margin: 0 1rem 0 1rem;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

form h3 {
    text-shadow: var(--glass-Text-Shadow);
    margin-bottom: 1.5rem;
}

.nom-prenom {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

[name="nom"],
[name="prenom"],
[name="email"],
[name="sujet"],
#textarea {
    color: var(--clr-white);
    line-height: 2rem;
    text-shadow: var(--glass-Text-Shadow);
    background-color: transparent;
    backdrop-filter: var(--glass-Back-Drop-Filter);
    border: none;
    border-top: var(--glass-Border);
    border-left: var(--glass-Border);
    filter: var(--glass-Drop-Shadow);
    border-radius: 2rem;
    width: 100%;
    padding-left: 1.5rem;
    display: block;
    transition: all 0.3s;
}

[name="email"],
[name="sujet"],
#textarea {
    margin-top: 1rem;
}

[name="message"] {
    border-radius: 1rem;
    height: 10vh;
    resize: none;
}

form div+input {
    margin-top: 1rem;
}

[type="submit"] {
    background: var(--glass-Btn-Back-Ground-1);
    backdrop-filter: var(--glass-Back-Drop-Filter);
    border: none;
    border-top: var(--glass-Border);
    border-left: var(--glass-Border);
    border-radius: 1.4rem;
    filter: var(--glass-Btn-Drop-Shadow-1);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    width: unset;
    margin: 2rem auto 1.2rem auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    cursor: pointer;
    transition: all 0.25s;
}

::placeholder {
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

input:hover,
input:focus,
#textarea:hover,
#textarea:focus {
    background: var(--glass-Input-Back-Ground-2);
    filter: var(--glass-Input-Drop-Shadow-2);
    outline: none;
    transition: 0.1s;
    transition: all 0.1s;
}

[type="submit"]:hover {
    background-color: var(--glass-Btn-Back-Ground-2);
    filter: var(--glass-Btn-Drop-Shadow-2);
    transform: scale(1.05);
    transition: all 0.1s;
}



footer {
    background: rgba(62, 155, 50, 0.884);
}



@media only screen and (min-width:350px) {
    h2 {
        padding-right: calc(1rem + 0.1 * 20vw);
    }
}

@media only screen and (min-width:600px) {
    #logo {
        width: unset;
        margin-left: 2rem;
    }
}

@media only screen and (min-width:992px) {
    #logo {
        margin-left: 3rem;
    }

}

@media only screen and (min-width:1024px) {
    header {
        width: calc(100% - (3rem - 1vw));
    }

    nav {
        top: 0;
        padding: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        height: 30%;
    }

    #nav-icones {
        transform: translate(0);
    }

    #btn-burger {
        display: none;
    }

    #logo {
        margin-left: 1rem;
    }




    .cercle1 {
        border: solid 0.1px white;
        filter: blur(5px);
        border-radius: 50%;
        width: 250px;
        height: 250px;
        padding-left: 290px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        animation: 3s linear infinite alternate boxshadow,
            6s linear infinite rotation;
    }


    /*animation cercle*/
    @keyframes rotation {
        0% {
            transform: translate(-50%, -50%) rotate(0);

        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }


    @keyframes boxshadow {
        0% {
            box-shadow:
                0 0 20px rgba(132, 0, 255, 0.5),
                inset 0 0 20px rgba(132, 0, 255, 0.5),
                0 0 20px rgba(255, 0, 221, 0.5),
                inset 0 0 20px rgb(255, 0, 221, 0.5),
                0 0 20px rgba(40, 54, 182, 0.5),
                inset 0 0 20px rgb(40, 54, 182, 0.5),
                0 0 20px rgba(120, 13, 241, 0.5),
                inset 0 0 20px rgb(120, 13, 241, 0.5), ;
        }

        100% {
            box-shadow:
                0 -15px 20px rgba(132, 0, 255, 0.5),
                inset 0 15px 20px rgba(132, 0, 255, 0.5),
                15px 0 20px rgb(255, 0, 221, 0.5),
                inset -15px 0 20px rgb(255, 0, 221, 0.5),
                0 15px 20px rgb(40, 54, 182, 0.5),
                inset 0 -15px 20px rgb(40, 54, 182, 0.5),
                -15px 0 20px rgb(120, 13, 241, 0.5),
                inset 15px 0 20px rgb(120, 13, 241, 0.5);
        }
    }